<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>georgeTheCSGuy</title>
	<link href = "{{ url_for('static', filename='styles/FrontPageCSS.css') }}" type = "text/css" rel = "stylesheet">
</head>
	<body>
	
		<!-- Logo at top of screen. -->
		<div id = "logoContainer">
				<img id = "logo" src = "../Solid_smallText.jpg">
		</div>
		
		<div id = "logInForm">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
    <form action="/logout">
      <input type="submit" value="Logout">
    </form>
{% else %}
    <form action="/login" method="POST">
      <input type="username" class = "field" name="username" placeholder = "Username"><br>
      <input type="password" class = "field" name="password" placeholder = "Password"><br>
      <label><input id = "remMe" type = "checkbox" name = "remMe">Remember Me</label><br>
      <input id = "submitButton" type="submit" value="Log in">
    </form>

    <form action="/newUser" method="POST">
      <p>Sign up today</p>
      <input type="username" name="username1" placeholder="Username">
      <input type="password" name="password1" placeholder="Password">
      <input type="submit" value="submit">
    </form>
{% endif %}
{% endblock %}
		</div>
		
		<!-- Navigation menu, need to make this sticky at some point. -->
		<div id = "navMenuContainer">
			<ul id = "navigationBar">
			<li>	
				<div class="dropdown">
				  <button class="dropbtn">Java</button>
					  <div class="dropdown-content">
					    <a href="{{ url_for('go_to_lesson1') }}">Lesson 1: Hello World</a>
					    <a href="{{ url_for('go_to_lesson2') }}">Lesson 2: Basic Arithmetic</a>
					    <a href="{{ url_for('go_to_lesson3') }}">Lesson 3: Data Types and Variables</a>
					    <a href="{{ url_for('go_to_lesson4') }}">Lesson 4: Control Flow</a>
					    <a href="{{ url_for('go_to_lesson5') }}">Lesson 5: Arrays</a>
					  </div>
				</div>
			</li>
			<li>	
				<div class="dropdown">
				  <button class="dropbtn">Coming Soon</button>
					  <div class="dropdown-content">
					  </div>
				</div>
			</li>
			<li>	
				<div class="dropdown">
				  <button class="dropbtn">Coming Soon</button>
					  <div class="dropdown-content">
					  </div>
				</div>
			</li>
			<li>	
				<div class="dropdown">
				  <button class="dropbtn">About</button>
					  <div class="dropdown-content">
					  </div>
				</div>
			</li>
			<li>	
				<div class="dropdown">
				  <button class="dropbtn">Contact</button>
					  <div class="dropdown-content">
					  </div>
				</div>
			</li>
		</ul>
		</div>
		
		<div id = "ADLOC1">
			<img id = "AD1" src = "{{ url_for('static', filename='AdPlaceholders/Leaderboard.png') }}">
		</div>
		
		<div id = "videoPlayerContainer">
			<iframe id = "videoPlayer" src="https://www.youtube.com/embed/g_s17HMFaug" allowfullscreen>
			</iframe>
		</div>
		<div id = "videoDescription">
		<p>
		Welcome to georgeTheCSGuy! Throughout this site you will
		find resources to help develop your Computer Science skills.
		On the top, you will find a navigation bar. Right now, we only
		offer a Java course, but check back soon for more courses.
		If you hover over the Java button, you will find a selection
		of lessons. If you're new, start with "Lesson 1: Hello World".
		To the right of the screen you will find two buttons, one that
		takes you to the downloadable homework assignments and projects
		for each lesson, and another that takes you to downloadable
		lesson PDFs. I hope you enjoy your time here and that you learn
		to love Computer Science just as I do!
		<br>-George
		</p>
		</div>
	</body>
</html>






		