* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
}

body{
	background-color: rgb(0,173,255);
	height: 900px;
	max-height: 100%;
	width: 1500px;
	min-width: 728px;
	max-width: 100%;
}
#logoContainer {
	width: 100%;
	min-width: 728px;
	height: 11.1111%;
    display: block;
    overflow: hidden;
	top: 0;	
	background-color: rgb(102,102,102);
	margin: auto;
	
}
#logo {
	position: relative;
	min-width: 728px;
	top: -250%;
	left: 0;
    height: 600%;
    width: 100%;
    display: block;
    margin: auto;
    z-index: 2;
}

#navigationBar {
	display: inline;	
	min-width: 728px;
	background: linear-gradient(rgb(102,102,102), rgb(0,173,255));
	height: 8%; /*72px*/
	position: absolute;
	right: 0px;
	left: 0px;
}

#navigationBar li {
	display: inline;
}
/*Drop Down button */
.dropbtn {
	background: linear-gradient(rgb(0,173,255), rgb(102,102,102));
    color: white;
    padding: 1em; /*16px*/
    font-size: 2vh;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
 	border: 2px inset black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	float: left;
    position: relative;
    display: inline-block;
    padding: 0 1%;
    width: 20%;
    height: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(102,102,102);
    min-width: 90%;
    max-height: 200px;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:visited {
	color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(0,173,255)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(0,173,255);
}

#ADLOC1 {
	position: relative;
	width: 728px;
	height: 90px;
	margin: .732% auto;
	top: 6%;
}

#ADLOC1 h1 {
	line-height: 100%;
}
#videoPlayerContainer {
	position: relative;
	top: 8%;
	margin: auto;
	display: block;
	height: 40vw;
	width: 60vw;
}
#videoPlayer {
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
	display: block;
}

#homeworkContainer {
	position: relative;
	float: left;
	top: 8%;
	left: 3%;
	clear: both;
}

#lessonPlanContainer {
	position: relative;
	float: left;
	clear: both;
	top: 13%;
	left: 3%;
}

#logInForm  {
	position: relative;
	float: right;
	right: 5%;
	display: block;
	height: 2.222%;
	top: -10%;
	clear: both;
	z-index: 2;
}

 .field {
	width: 100%;
    clear: both;
}

#videoDescription {
	position: relative;
	top: 8%;
	margin: auto;
	width: 60vw;
	background-color:rgb(102,102,102);
	color: white;
}
#videoDescription p {
	font-size: 1.2em;
	padding: 5px;
}